<h1>
Todos!
</h1>

<div class="content">

  <div class="projects">
    <ul class="list-group" *ngFor="let project of projects">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{project.title}}
        <button class="btn badge badge-primary badge-pill"  (click)="clickMe(project.id)" type=”button”>Show</button>
      </li>
    </ul>
  </div>

  <div class="todos">
    <div *ngFor="let todo of filteredTodos" style="margin-bottom: 20px;">
      <div class="card">
        <div class="card-header">
          {{todo.title}}
        </div>
        <div class="card-body">
          <p class="card-text">{{todo.description}}</p>
          <small>dueDate: {{todo.dueDate}}</small>
        </div>
      </div>
    </div>
  </div>
</div>